/* about*/
.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.about .row .image{
    flex: 1 1 40rem;
}

.about .row .image img{
    width: 100%;
    border-radius: 50% 50% 0 0;
}

.about .row .content {
    flex: 1 1 50rem;
}

.about .row .content h3{
    font-size: 3.4rem;
    color: #eb4d4b;
    text-transform: uppercase;
}

.about .row .content .quote{
    margin: 2rem 0;
}

.about .row .content p{
    font-size: 1.6rem;
    color: #666;
    line-height: 2;
    margin-bottom: 1rem;
}